[class^="icon-"] {
    display:inline-block;    
    width:16px;    
    height:16px;  
    vertical-align:text-top;  
    background-image:url(/sprite.png);  
    background-position:16px 16px;  
    background-repeat:no-repeat;
    margin-right: 8px;
} 
.icon-tilda-education { background-position: 0px 0px; }
.icon-hantim-ru { background-position: -16px 0px; }
.icon-vischeck-com { background-position: -32px 0px; }
.icon-mysql-com { background-position: -48px 0px; }
.icon-meteoinfo-by { background-position: -64px 0px; }
.icon-alfabank-ru { background-position: -80px 0px; }
.icon-kinopoisk-ru { background-position: -96px 0px; }
.icon-gosuslugi-ru { background-position: -112px 0px; }
.icon-hetzner-de { background-position: -128px 0px; }
.icon-apache-org { background-position: -144px 0px; }
.icon-mail-ru { background-position: 0px -16px; }
.icon-triviador-com { background-position: -16px -16px; }
.icon-meduza-io { background-position: -32px -16px; }
.icon-themeforest-net { background-position: -48px -16px; }
.icon-ale07-ru { background-position: -64px -16px; }
.icon-ivi-ru { background-position: -80px -16px; }
.icon-explainshell-com { background-position: -96px -16px; }
.icon-amazium-co-uk { background-position: -112px -16px; }
.icon-earthquaketrack-com { background-position: -128px -16px; }
.icon-t-me { background-position: -144px -16px; }
.icon-gobase-org { background-position: 0px -32px; }
.icon-artlebedev-ru { background-position: -16px -32px; }
.icon-fontanka-ru { background-position: -32px -32px; }
.icon-charlotte-ru { background-position: -48px -32px; }
.icon-selenium2-ru { background-position: -64px -32px; }
.icon-browserstack-com { background-position: -80px -32px; }
.icon-azair-eu { background-position: -96px -32px; }
.icon-tinycorelinux-net { background-position: -112px -32px; }
.icon-gaga-ru { background-position: -128px -32px; }
.icon-vk-com { background-position: -144px -32px; }
.icon-eurolines-com { background-position: 0px -48px; }
.icon-hon-ru { background-position: -16px -48px; }
.icon-music-yandex-ru { background-position: -32px -48px; }
.icon-hh-ru { background-position: -48px -48px; }
.icon-analytics-google-com { background-position: -64px -48px; }
.icon-jqapi-ru { background-position: -80px -48px; }
.icon-maps-yandex-ru { background-position: -96px -48px; }
.icon-wetterzentrale-de { background-position: -112px -48px; }
.icon-booking-com { background-position: -128px -48px; }
.icon-lookatme-ru { background-position: -144px -48px; }
.icon-img-leprosorium-com { background-position: 0px -64px; }
.icon-djangoproject-com { background-position: -16px -64px; }
.icon-leonidvolkov-ru { background-position: -32px -64px; }
.icon-ebay-com { background-position: -48px -64px; }
.icon-adminjs-com { background-position: -64px -64px; }
.icon-sberbank-ru { background-position: -80px -64px; }
.icon-dataart-ru { background-position: -96px -64px; }
.icon-lagmonster-org { background-position: -112px -64px; }
.icon-d3-ru { background-position: -128px -64px; }
.icon-jsbeautifier-org { background-position: -144px -64px; }
.icon-disk-yandex-com { background-position: 0px -80px; }
.icon-gdscb-com { background-position: -16px -80px; }
.icon-dropbox-com { background-position: -32px -80px; }
.icon-404-group-com { background-position: -48px -80px; }
.icon-velorama-ru { background-position: -64px -80px; }
.icon-metacpan-org { background-position: -80px -80px; }
.icon-worldwidefred-com { background-position: -96px -80px; }
.icon-leanpub-com { background-position: -112px -80px; }
.icon-hostelworld-com { background-position: -128px -80px; }
.icon-bash-im { background-position: -144px -80px; }
.icon-github-com { background-position: 0px -96px; }
.icon-imageshack-com { background-position: -16px -96px; }
.icon-fl-ru { background-position: -32px -96px; }
.icon-blueprintcss-org { background-position: -48px -96px; }
.icon-bspb-ru { background-position: -64px -96px; }
.icon-reddit-com { background-position: -80px -96px; }
.icon-weather-tmd-go-th { background-position: -96px -96px; }
.icon-masterhost-ru { background-position: -112px -96px; }
.icon-stas-raskumandrin-ru { background-position: -128px -96px; }
.icon-appspot-com { background-position: -144px -96px; }
.icon-lindaline-fi { background-position: 0px -112px; }
.icon-2gis-ru { background-position: -16px -112px; }
.icon-navalny-com { background-position: -32px -112px; }
.icon-freelansim-ru { background-position: -48px -112px; }
.icon-folk-uib-no { background-position: -64px -112px; }
.icon-finland-org-ru { background-position: -80px -112px; }
.icon-adobe-com { background-position: -96px -112px; }
.icon-cvetoteka-ru { background-position: -112px -112px; }
.icon-equip-ru { background-position: -128px -112px; }
.icon-offoffoff-ru { background-position: -144px -112px; }
.icon-modernperlbooks-com { background-position: 0px -128px; }
.icon-alpina-ahd-ru { background-position: -16px -128px; }
.icon-tvoe-tv { background-position: -32px -128px; }
.icon-spbkontrol-ru { background-position: -48px -128px; }
.icon-saytmebeli-ru { background-position: -64px -128px; }
.icon-ulmart-ru { background-position: -80px -128px; }
.icon-artemjew-ru { background-position: -96px -128px; }
.icon-upwork-com { background-position: -112px -128px; }
.icon-irbis-spb-ru { background-position: -128px -128px; }
.icon-fontawesome-io { background-position: -144px -128px; }
.icon-raiffeisen-ru { background-position: 0px -144px; }
.icon-kuler-adobe-com { background-position: -16px -144px; }
.icon-axelname-ru { background-position: -32px -144px; }
.icon-twbs-github-io { background-position: -48px -144px; }
.icon-megamozg-ru { background-position: -64px -144px; }
.icon-sportvprim-ru { background-position: -80px -144px; }
.icon-eto-fest-ru { background-position: -96px -144px; }
.icon-blank { background-position: -112px -144px; }
.icon-html-it { background-position: -128px -144px; }
.icon-icomoon-io { background-position: -144px -144px; }
.icon-infotanka-ru { background-position: 0px -160px; }
.icon-repocketmod-com { background-position: -16px -160px; }
.icon-read-ru { background-position: -32px -160px; }
.icon-paypal-com { background-position: -48px -160px; }
.icon-foursquare-com { background-position: -64px -160px; }
.icon-git-scm-com { background-position: -80px -160px; }
.icon-marinetraffic-com { background-position: -96px -160px; }
.icon-getskeleton-com { background-position: -112px -160px; }
.icon-whoyougle-ru { background-position: -128px -160px; }
.icon-blogspot-com { background-position: -144px -160px; }
.icon-mojolicio-us { background-position: 0px -176px; }
.icon-rusavtobus-ru { background-position: -16px -176px; }
.icon-960-gs { background-position: -32px -176px; }
.icon-facebook-com { background-position: -48px -176px; }
.icon-mail-google-com { background-position: -64px -176px; }
.icon-outlook-office-com { background-position: -80px -176px; }
.icon-steps { background-position: -96px -176px; }
.icon-filestream-me { background-position: -112px -176px; }
.icon-perltricks-com { background-position: -128px -176px; }
.icon-stackoverflow-com { background-position: -144px -176px; }
.icon-artgorbunov-ru { background-position: 0px -192px; }
.icon-mirm-ru { background-position: -16px -192px; }
.icon-bolknote-ru { background-position: -32px -192px; }
.icon-6030000-ru { background-position: -48px -192px; }
.icon-feedgee-com { background-position: -64px -192px; }
.icon-form-google-com { background-position: -80px -192px; }
.icon-flickr-com { background-position: -96px -192px; }
.icon-inmyroom-ru { background-position: -112px -192px; }
.icon-skype-com { background-position: -128px -192px; }
.icon-talala-ru { background-position: -144px -192px; }
.icon-ikaketosdelano-ru { background-position: 0px -208px; }
.icon-odesk-com { background-position: -16px -208px; }
.icon-filtermusic-net { background-position: -32px -208px; }
.icon-pl-spb-ru { background-position: -48px -208px; }
.icon-ilyabirman-ru { background-position: -64px -208px; }
.icon-hurl-it { background-position: -80px -208px; }
.icon-chartjs-org { background-position: -96px -208px; }
.icon-10minutemail-com { background-position: -112px -208px; }
.icon-nortfort-ru { background-position: -128px -208px; }
.icon-payoneer-com { background-position: -144px -208px; }
.icon-liquibase-org { background-position: 0px -224px; }
.icon-pandanet-igs-com { background-position: -16px -224px; }
.icon-tvoydesigner-ru { background-position: -32px -224px; }
.icon-spbvoditel-ru { background-position: -48px -224px; }
.icon-couchsurfing-com { background-position: -64px -224px; }
.icon-spbpostcalc-raskumandrin-ru { background-position: -80px -224px; }
.icon-jira { background-position: -96px -224px; }
.icon-connessans-ru { background-position: -112px -224px; }
.icon-davranovtravel-ru { background-position: -128px -224px; }
.icon-freecsstemplates-org { background-position: -144px -224px; }
.icon-rutracker-org { background-position: 0px -240px; }
.icon-theins-ru { background-position: -16px -240px; }
.icon-cheatography-com { background-position: -32px -240px; }
.icon-soap4-me { background-position: -48px -240px; }
.icon-saparov-ru { background-position: -64px -240px; }
.icon-apple-com { background-position: -80px -240px; }
.icon-112ep-raskumandrin-ru { background-position: -96px -240px; }
.icon-linkedin-com { background-position: -112px -240px; }
.icon-translate-google-ru { background-position: -128px -240px; }
.icon-autokadabra-ru { background-position: -144px -240px; }
.icon-pdf { background-position: 0px -256px; }
.icon-omenahotels-com { background-position: -16px -256px; }
.icon-nationalgeographic-com { background-position: -32px -256px; }
.icon-hackerrank-com { background-position: -48px -256px; }
.icon-verkkokauppa-com { background-position: -64px -256px; }
.icon-qiwi-com { background-position: -80px -256px; }
.icon-geektimes-ru { background-position: -96px -256px; }
.icon-floresco-ru { background-position: -112px -256px; }
.icon-deepl-com { background-position: -128px -256px; }
.icon-the-village-ru { background-position: -144px -256px; }
.icon-automated-testing-info { background-position: 0px -272px; }
.icon-rsbor-ru { background-position: -16px -272px; }
.icon-leprosorium-ru { background-position: -32px -272px; }
.icon-mtt-ru { background-position: -48px -272px; }
.icon-zaponka-ru { background-position: -64px -272px; }
.icon-shuvaloff-hotel-ru { background-position: -80px -272px; }
.icon-vim-wikia-com { background-position: -96px -272px; }
.icon-antizapret-info { background-position: -112px -272px; }
.icon-livejournal-com { background-position: -128px -272px; }
.icon-lenfilm-ru { background-position: -144px -272px; }
.icon-rodinakino-ru { background-position: 0px -288px; }
.icon-umbrella { background-position: -16px -288px; }
.icon-bookdepository-co-uk { background-position: -32px -288px; }
.icon-thepiratebay-se { background-position: -48px -288px; }
.icon-leftlogic-com { background-position: -64px -288px; }
.icon-pastie-org { background-position: -80px -288px; }
.icon-wikipedia-org { background-position: -96px -288px; }
.icon-disqus-com { background-position: -112px -288px; }
.icon-estonianborder-eu { background-position: -128px -288px; }
.icon-patternify-com { background-position: -144px -288px; }
.icon-oxfordlearnersdictionaries-com { background-position: 0px -304px; }
.icon-icq-com { background-position: -16px -304px; }
.icon-ikea-com { background-position: -32px -304px; }
.icon-avrora-spb-ru { background-position: -48px -304px; }
.icon-goldensign-ru { background-position: -64px -304px; }
.icon-start-spring-io { background-position: -80px -304px; }
.icon-squidproxies-com { background-position: -96px -304px; }
.icon-narisoval-ru { background-position: -112px -304px; }
.icon-showmetheco-de { background-position: -128px -304px; }
.icon-twitter-com { background-position: -144px -304px; }
.icon-arzamas-academy { background-position: 0px -320px; }
.icon-getfwd-com { background-position: -16px -320px; }
.icon-willmyphonework-net { background-position: -32px -320px; }
.icon-lifehacker-ru { background-position: -48px -320px; }
.icon-findbook-ru { background-position: -64px -320px; }
.icon-metrika-yandex-ru { background-position: -80px -320px; }
.icon-netprint-ru { background-position: -96px -320px; }
.icon-cosmix-org { background-position: -112px -320px; }
.icon-klavogonki-ru { background-position: -128px -320px; }
.icon-haxball-com { background-position: -144px -320px; }
.icon-aboutone-ru { background-position: 0px -336px; }
.icon-team29-org { background-position: -16px -336px; }
.icon-gitarre-ru { background-position: -32px -336px; }
.icon-goproblems-com { background-position: -48px -336px; }
.icon-digitalocean-com { background-position: -64px -336px; }
.icon-beta-gosuslugi-ru { background-position: -80px -336px; }
.icon-preeminent-org { background-position: -96px -336px; }
.icon-foundation-zurb-com { background-position: -112px -336px; }
.icon-sobaka-ru { background-position: -128px -336px; }
.icon-dcdnet-ru { background-position: -144px -336px; }
.icon-dk-co-uk { background-position: 0px -352px; }
.icon-paperpaper-ru { background-position: -16px -352px; }
.icon-seatguru-com { background-position: -32px -352px; }
.icon-w3-org { background-position: -48px -352px; }
.icon-stpeterline-com { background-position: -64px -352px; }
.icon-finland-eu { background-position: -80px -352px; }
.icon-kolesnik-ru { background-position: -96px -352px; }
.icon-translate-google-com { background-position: -112px -352px; }
.icon-host-food-ru { background-position: -128px -352px; }
.icon-tunein-com { background-position: -144px -352px; }
.icon-tjournal-ru { background-position: 0px -368px; }
.icon-bitbucket-org { background-position: -16px -368px; }
.icon-brainstorage-me { background-position: -32px -368px; }
.icon-storeland-ru { background-position: -48px -368px; }
.icon-tpilet-ee { background-position: -64px -368px; }
.icon-aws-amazon-com { background-position: -80px -368px; }
.icon-privateproxyreviews-com { background-position: -96px -368px; }
.icon-tourdom-ru { background-position: -112px -368px; }
.icon-leningradez-ru { background-position: -128px -368px; }
.icon-grinkod-spb-ru { background-position: -144px -368px; }
.icon-abaris-spb-ru { background-position: 0px -384px; }
.icon-teamer-ru { background-position: -16px -384px; }
.icon-domkino-spb-ru { background-position: -32px -384px; }
.icon-ugrey-ru { background-position: -48px -384px; }
.icon-therules-ru { background-position: -64px -384px; }
.icon-ski-spb-ru { background-position: -80px -384px; }
.icon-wordle-net { background-position: -96px -384px; }
.icon-drive-google-com { background-position: -112px -384px; }
.icon-trello-com { background-position: -128px -384px; }
.icon-4duk-ru { background-position: -144px -384px; }
.icon-trrrending-today { background-position: 0px -400px; }
.icon-drive-ru { background-position: -16px -400px; }
.icon-travel-ru { background-position: -32px -400px; }
.icon-tramontana-ru { background-position: -48px -400px; }
.icon-yandex-ru { background-position: -64px -400px; }
.icon-instagram-com { background-position: -80px -400px; }
.icon-unsemantic-com { background-position: -96px -400px; }
.icon-hostel-life-ru { background-position: -112px -400px; }
.icon-spb-vote { background-position: -128px -400px; }
.icon-rzd-ru { background-position: -144px -400px; }
.icon-stroim-club { background-position: 0px -416px; }
.icon-webmasters-google-com { background-position: -16px -416px; }
.icon-flamingo-spa-com { background-position: -32px -416px; }
.icon-avito-ru { background-position: -48px -416px; }
.icon-mediaqueri-es { background-position: -64px -416px; }
.icon-habrahabr-ru { background-position: -80px -416px; }
.icon-ilmatieteenlaitos-fi { background-position: -96px -416px; }
.icon-openstreetmap-org { background-position: -112px -416px; }
.icon-russianpost-ru { background-position: -128px -416px; }
.icon-postcrossing-com { background-position: -144px -416px; }
.icon-aqvahotels-ee { background-position: 0px -432px; }
.icon-google-ru { background-position: -16px -432px; }
.icon-labs-tineye-com { background-position: -32px -432px; }
.icon-pickpoint-ru { background-position: -48px -432px; }
.icon-magazinpiva-ru { background-position: -64px -432px; }
.icon-pes-spb-ru { background-position: -80px -432px; }
.icon-elance-com { background-position: -96px -432px; }
.icon-planetperl-ru { background-position: -112px -432px; }
.icon-jqueryui-com { background-position: -128px -432px; }
.icon-wordpress-org { background-position: -144px -432px; }
.icon-prototypes-ru { background-position: 0px -448px; }
.icon-jsfiddle-net { background-position: -16px -448px; }
